body {
  font-family: Arial, sans-serif;
  background-color: #6666;
  padding: 20px;
}

h1 {
  color: navy;
  text-align: center;
}

h2 {
  color: brown;
}

ol {
  color: navy;
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  width: 25%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 20px;
}

.normal-image {
  width: 300px;
  margin-top: 15px;
  display: block;
}